{% extends "litreview/base.html" %}

{% block content %}

<div class="col-8">
	{% include 'litreview/form_error.html' %}

 	<form enctype="multipart/form-data" method="post">
 		{% csrf_token %}
		{% include 'litreview/form.html' %}
		<div class="row mt-1">
			<div class="d-grid col-6">
				{% if request.META.HTTP_REFERER %}
				<a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-primary">Go back</a>
				{% else %}
				<a href="{% url 'feed' %}" class="btn btn-primary">Go to feed</a>
				{% endif %}
			</div>
			<div class="d-grid col-6">
				<button type="submit" class="btn btn-primary">Create Ticket</button>
			</div>
		</div>
	</form>

</div>

{% endblock %}